*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.header-container{
    width: 100%;
    height: 50vh;
    background-color: #003b95;
    position: relative;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0px;
 }
.left-div h2{
    color: white;
    font-size: 2rem;
} 
.right-div{
    display: flex;
    gap: 2vw;
    color: white;
    font-size: 1.2rem;
    font-size: bold;    
}
.right-div button {
    padding: 5px 10px; 
    border-radius: 5px;
    border: none;
    outline: none;
    color: #006ce4;
    font-weight: bold;
}
/* navbar code */
nav{
    width: 100%;
}
nav ul{
    display: flex;
    gap: 3rem;
    list-style-type: none;
    padding-left: 14vw; 
    color: white;    
    font-size: 1.2rem;
    margin-top: 2vh;
    align-items: center;
}
nav span i{
    padding-right: 1.5vh;
}
nav ul li:first-child{
    border: 1px solid #ccc;
    padding: 10px 20px;
    border-radius: 20px; 
}
.header-container h1{
    color: white;
    padding-left: 14vw; 
    margin-top: 10vh;
    font-size: 3.5rem;
    font-weight: bold;
}
.header-container p{
    font-size: 2rem;
    margin-top: 1vh;
    color: white;
    padding-left: 14vw;
    
}
/* searchbar-div code */
.searchbar-div{
    position: absolute;
    bottom: -25px;
    left: 14vw;
    background-color: #ffb700;
    padding: 1px 3px 1px 1px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}
.searchbar-div input{
    width: 23vw;
    height: 7vh;
    border: none;
    outline: none;
    margin: 2px;
    border-radius: 5px;
    font-weight: bold;
    padding: 15px; 
}
.searchbar-div button{  
    width: 15vh;
    height: 7vh;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #006ce4;
    color: white;
    font-weight: bold;  
    font-size: 20px;    
}
/* carosuel code */
.carousel{
    width: 100%;   
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4%;
    padding: 5%;
}
.imageDiv,.carosuel-left-div{
    width: 50vw;
    height: 200px;
    border-radius: 5px;
    
}
.imageDiv img{
    width: 100%;
    height: 200px;
    border-radius: 5px; 
}
.carosuel-left-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #ccc;
    line-height: 35px;
}
.carosuel-left-div button{
    padding: 3px 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #006ce4;
    color: white;
    font-weight: bold;  
     
}
.carosuel-left-div img{
    width: 10vw;
    
}
/* --- */
.destination-container h1,h4{ 
    margin-left: 14vw;    
}
.destination-container h1, .property-container h1, .weekend-container h1{
    font-weight: bold;
    margin-bottom: 12px;    
}
.property-container{
    margin-top: 5vh;
}
.property-container h1, .weekend-container h1{
    margin-left: 14vw;
}
.destination-container p{
    font-size: 1.2rem;
}
 
.destination-image-container{   
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 4%;
    padding-top: 1%; 
    padding: 0px 12% 0px 12%;  
}
.property-image-container{
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 1%;
    padding-top: 1%; 
   
}
.destination-image-div{
    margin-top: 4vh;
}
.destination-image-div img{
    border-radius: 5px;
}
.weekend-container{
    margin-top: 5vh;
}
.weekend-image-container{
    display: grid;   
    grid-template-columns: repeat(4, 1fr);
    padding: 0px 12% 0px 12%;    
  
   
} 
.weekend-image-div{
    line-height: 35px;
    place-self: center;
}
.weekend-image-div img{
    border-radius: 5px;
}
.selected-image-container{
    width: 100%;    
    display: flex;
    padding-left: 14vw;  
    gap: 5vw;
    line-height: 5vh;     
}
.selected-image-container img{
    border-radius: 5px;
    width: 30vw;
}
.selected-image-container button{
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: none;
    outline: none;
    background-color: #006ce4;
    color: white;
    font-weight: bold; 
}
.selected-image-container p{
    width: 50%;
}
.destination-list-div{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 5% 5% 5% 10%;
    width: 100%;
}
.destination-list-div ul{
    list-style-type: none;
    /* line-height: 25px; */
}
.destination-list-div ul li:nth-child(odd){   
    padding-top: 10px;
    font-weight: bold;
}
.destinatio-list-heading{
    margin-left: 12vw;
    font-size: 2rem;
}
.footer-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);     
    padding: 5%;
    background-color: #f5f5f5;
    padding: 5% 5% 5% 10%;

}
.footer-container ul{
    list-style-type: none;
    line-height: 35px;
}
.page-not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 700px;     
}
.page-not-found-container img{
    width: 100%; 
    height: 100vh;
}

@media only screen and (max-width: 600px)  {
   header .right-div span{
    display: none;   
   }
   nav ul {
    padding-left: 0px; 
    gap: 1rem;
    font-size: 14px;
    margin-top: 2vh;
   }
   nav ul span{
    display: none;
   }
   nav ul li:first-child{  
    padding: 5px 10px;    
   }
   .header-container{
    height: 40vh;
   }
   .header-container h1{    
    margin-top: 5vh;  
    font-size: 2.2rem;    
    }
    .header-container p{
        font-size: 1rem;
        margin-top: 1vh;        
        padding-left: 0vw;
        text-align: center;
        margin-left: 0px;
    }
    .searchbar-div{   
        left: 5vw;        
                 
    }
    .searchbar-div input{
        width: 22vw;
        height: 5vh;        
        margin: 2px;            
        padding: 0px;
    }
    .searchbar-div button{  
        width: 8vh;
        height: 5vh;            
        font-size: 13px;    
    }
    .carousel{                          
        gap: 4%;
        padding: 10% 5% 5% 5%;
        flex-direction: column;
    }
    .imageDiv,.carosuel-left-div{
        width: 90vw;
        height: auto;              
    }    
    .carosuel-left-div{      
        line-height: 30px;
    }
    .carosuel-left-div img{
        width: 20vw;
    } 
    .destination-image-container{        
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
    .property-image-container{
        flex-direction: column; 
    }
    .weekend-image-container{      
        grid-template-columns: repeat(1, 1fr); 
      
        
    }    
    .footer-container{        
        grid-template-columns: repeat(2, 1fr);     
        padding: 0%; 
        gap: 1rem;       
    }
    .footer-container ul{       
        line-height: 20px;
    }
    .destination-list-div{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 5%;
    }
    .destinatio-list-heading, .destination-list-div{
        display: none;
    }
}

